@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Cinzel+Decorative:wght@700&family=Libre+Caslon+Text&family=Merriweather+Sans:wght@363;400&family=Racing+Sans+One&family=Staatliches&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  /* background-color: rgb(102, 84, 136); */
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1{
  font-family: 'Bayon', sans-serif;
  font-family: 'Libre Caslon Text', serif;
  font-family: 'Merriweather Sans', sans-serif;
}


